<p id="notice"><%= notice %></p>

<table>

  <tr>
    <td>
      <p>
        <img src=<%= @pokemon.sprite %> width="200">
      </p>
    </td>

    <td>
      <h1>
        <%= @pokemon.name.capitalize %>
      </h1>

      <p>
        <strong>Pokedex ID:</strong>
        <%= @pokemon.kanto_id %>
      </p>

      <p>
        <strong>Type(s):</strong>
        <%= @pokemon.types %>
      </p>

      <p>
        <strong>Shape:</strong>
        <%= @pokemon.shape.capitalize %>
      </p>

      <p>
        <strong>Capture rate:</strong>
        <%= @pokemon.capture_rate %>
      </p>
    </td>

  </tr>
</table>

<%= link_to 'Back to Pokedex', pokemons_path %>
